@page
@model RazorEmpleats.Pages.Empleats.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EmpleatInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpleatInfo.Name" class="control-label"></label>
                <input asp-for="EmpleatInfo.Name" class="form-control" />
                <span asp-validation-for="EmpleatInfo.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleatInfo.Surname" class="control-label"></label>
                <input asp-for="EmpleatInfo.Surname" class="form-control" />
                <span asp-validation-for="EmpleatInfo.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleatInfo.Position" class="control-label"></label>
                <input asp-for="EmpleatInfo.Position" class="form-control" />
                <span asp-validation-for="EmpleatInfo.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleatInfo.Salary" class="control-label"></label>
                <input asp-for="EmpleatInfo.Salary" class="form-control" />
                <span asp-validation-for="EmpleatInfo.Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
