@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Benvingut!</h1>
    <p>Benvingut a la pràctica de ASP.NET Core de l'Albert Pipió</p>
</div>
